.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: aquamarine;
    border-style: ridge;
    border-color: rgb(0, 123, 255);

}
h1{
    color:white
}

